/* Reset browser-inherited properties */

html, body{

	background-color: #000;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.centerTitle {

	text-align: center;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
	div#mainScreen {
		display: none;
	}
	
	div#promptLandscape {
		display: inline;
	}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
	div#mainScreen {
		display: inline;
	}
	
	div#promptLandscape {
		display: none;
	}
}

#promptLandscape {
	color: #fff;
}

#mainScreen {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	color: #fff;
	background-color: #000;
}

/* role selection items */

#engineer {
	background-image: url('../images/engi_available2.png');
}

#pilot {
	background-image: url('../images/pilot_available2.png');
}

#gunner {
	background-image: url('../images/gunner_available2.png');
}

/* logoImg */

.logoImg {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.roleImg {
	margin: 0px;
	padding: 0px;
	height: 30%;
	background-size: contain;
	background-repeat: no-repeat;
}

.roleSelection {
	height: 33%;
	margin: 0px;
	padding: 0px;	
}

/* VIEWS */

#mainView {
	color: #fff;
	background-color: #ff0;
	display: inline;
	height: 100%;
	width: 100%;
}

#roleView {
	height: 100%; 
	width: 100%; 
	color: #fff;
	display: none;
}

#pilotView {
	width: 100%;
	height: 100%;
}

/* Pilot and gunner steering input */
#pilotContainer {

	float: left;
	padding-left: 2.5%;
	padding-top: 5%;
	
	width: 45%;
	height: 100%;
}

#pilotCanvas {

	float: left;
	height: 45vw;
	width: 45vw;
}

/* fire and thrust button */
#thrustAndFireContainer {

	float: right;
	padding-right: 2.5%;
	padding-top: 5%;
	
	width: 45%;
	height: 100%;
}

#thrustAndFire {

	float: right;
	height: 45vw;
	width: 45vw;
	
	background-image: url('../images/fire.png');
	background-size: contain;
	background-repeat: no-repeat;
}

/* engineer window style */
#engineerView {
	display: none;
	margin: 0;
	padding: 0;
}

.sliderBox {
	float: left;
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
}

.slider {
	position: relative;
	height: 80%;
	width: 80%;
	
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
} 

.textContainer {
	float: top;
	height: 20%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}

.sliderContainer {
	float: bottom;
	height: 80%;
	margin: 0;
	padding: 0;
}

.textBox {
	float: left;
	width: 30%;
	height: 100%;
	margin-left: 2.5%;
}

.sliderText {
	text-align: center;
}




































